image
*.o
*.lst
ar
as/as
as/lex.yy.c
as/mktable
as/table.c
as/y.tab.h
as/y.tab.c
as/regress/*.bin
as/regress/*.gas
as/regress/a.out
boot
cpp/cpp
cc
cc1/cc1
cc1/regress/stage1
cc1/regress/stage2
cc1/regress/stage3/bin
cc1/regress/stage3/lib
cc1/regress/stage3/include
kernel/config.h
kernel/config.c
kernel/kernel
ld
lex/scan.c
lex/y.tab.c
lex/y.tab.h
lex/lex
libc/libc.a
ls
make/make
mkboot
mkfs
nm
proto/asrock
proto/vbox
tar/tar
yacc/yacc
